<html>
<head>
  <title>Form Entry Error</title>
</head>
<body>
<h1>Form Entry Error</h1>
  <p>There must be a control point greater than or equal to the brevet distance.</p>
<p>Please return to <a href="{{ url_for("index") }}">the home page</a> and try again.</p>
</body>
</html>
